.show-more-btn button {
    color: rgb(6, 19, 14);
    background-color: rgba(205, 184, 153, 255);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(169, 169, 169, 0.4);
    transition: all 0.3s ease-in-out;
}

.show-more-btn button:hover {
    background-color: rgba(205, 184, 153, 255);
    color: rgb(6, 19, 14);
    border: 1px solid rgb(6, 19, 14);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(169, 169, 169, 0.5);
}